//importacoes
@use '../../globais';

//elementos: nivel 1
ul {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  //fontes
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 22px;

  li {
    margin-right: 16px;
  }
}

h1 {
  font-family: "Montaga", serif;
  font-weight: bold;
}

//classes: nivel 1
.container-cab {
  height: 12vh;
  padding: 16px;
  //visualizacao
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}

//ids: nivel 1
#id-icone {
  display: flex;
  padding: 8px;

  //elementos: nivel 1
  i {
    margin-right: 8px;
  }
}
