<header class="container mx-auto px-4 py-16 text-center">
  <!-- caixa com efeito de animacao  -->
  <div class="animate-fade-in">
    <!-- informacoes do github -->
    <img [src]="perfil.avatar_url" class="w-32 h-32 rounded-full mx-auto mb-6 border-4 border-blue-500 shadow-lg" alt="Foto de perfil">
    <h1 class="text-4xl font-bold mb-4">
      {{perfil.name}}
    </h1>
    <p class="text-xl text-gray-300 mb-6">
      {{perfil.bio}}
    </p>
    <!-- links -->
    <div class="flex justify-center gap-4">
      <a [href]="perfil.html_url" class="bg-blue-600 hover:bg-blue-700 px-6 py-2 rounded-full transition duration-300">
        Perfil GitHub
      </a>
      <a [href]="perfil.blog" class="bg-gray-700 hover:bg-gray-600 px-6 py-2 rounded-full transition duration-300">
        Portfolio
      </a>
    </div>
  </div>
</header>
