//variaveis
$cor-cinza: #ccc;
$cor-azul: #8fa5d9;
$cor-branca: #fff;
$cor-preto: #1a1a1a;

//resete
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //cores
  color: $cor-cinza;
  background-color: $cor-preto;
}

//elementos: nivel 1
main {
  flex: 1;    //faz o 'main' ocupar todo espaco disponivel
}

//classes
.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.c-fundo-gradiente {
  background: linear-gradient(to right, black, rgb(28, 28, 28), rgb(39, 39, 39), rgb(89, 89, 89), rgb(77, 77, 77), gray);
  box-shadow: 0 10px 100px rgb(80, 80, 80);
}

//aplica regra p/ todas tags dentro dele "*"
.fundo-transparente * {
  background-color: transparent;
}
